body {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}

#content, .nav {
  max-width: 35em;
  margin: auto;
}

#content img {
  display: block;
  margin: auto;
}

.nav {
  text-align: right;
}

h1 {
  margin: 2.5em 0 2em 0;
}

.block-link {
  display: block;
  background-color: #ccc;
  text-align: center;
}

.chap_num {
  color: #888;
  font-size: 0.5em;
}
